# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv
.vscode/

# Environment variables
.env
.env.local
.env.production

# Temporary files
*.tmp
*.log

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Cloud Build
cors.json
